main > .container {
    padding: 100px 15px 20px;
    max-width: 1100px;
}

header > .container {
    max-width: 1200px;
}

.body-content {
    /* margin-top: 20px; */
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}


@media (max-width: 992px) {
    .container .additional__contacts {
        flex-wrap: wrap;
    }

    .container .additional__text {
        width: 100%;
    }

    .container .additional__wrap{
        width: 100%;
    }

    .container .additional__item {
        padding-bottom: 30px;
        width: 50%;
    }

    .container .additional-phones{
        padding-left: 24px;
        padding-right: 48px;
    }
    .container .additional-emails{
        padding-left: 48px;
        padding-right: 24px;
    }

}

@media (max-width: 767px) {

    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

    /*
    .container {
        max-width: 960px;
    }*/
    .slider {
        width: 100%;
	    height: auto;
    }

    .slider__wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .slider__item {
        padding: 10px 10px;
    }

    .container .slider__item:first-child {
        padding-left: 10px;
    }
    .container .slider__item:last-child {
        padding-right: 10px;
    }

    .container .additional__contacts {
        flex-wrap: wrap;
    }
    .container .additional__wrap {
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }
    .container .additional__text {
        width: 100%;
    }

    .container .additional__item {
        padding-bottom: 30px;
        width: 100%;
    }

    .container .additional-emails{
        padding-left: 24px;
        padding-right: 24px;
    }


    .container .site-about-title {
        padding: 5px 24px;
    }
    
    .container .site-about-describe {
        padding: 5px 24px;
    }
    
    .container .site-delivery-title {
        padding: 5px 24px;
    }

    .container .site-payment-title {
        padding: 5px 24px;
    }

    .container .site-payment-describe {
        padding: 5px 24px;
    }

    .container .about__text {
        max-width: 100%;
        margin-top: 10px;
    }

    .container .about__img {
        max-width: 100%;
    }

    

}
/*
@media (max-width: 576px) {
    .container .site-about-title {
        padding: 5px 24px;
    }
}
*/

.container .item { 
    max-width: 100%; 
}

.site-about-title {
    padding: 10px 100px;
}

.site-about-describe {
    padding: 10px 100px;
}

.site-delivery-title {
    padding: 10px 100px;
}

.site-payment-title {
    padding: 10px 100px;
}

.site-payment-describe {
    padding: 10px 100px;
}

/*     */

.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    flex: 0 1 auto;
}

.about__img {
    max-width: 337px;
    
}

.img__office {
    border-radius: 3%; 
    width: auto; 
    object-fit: cover;
}

.img__slider {
    border-radius: 3%; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__text {
    
    max-width: calc(100% - 357px);
}

.site-additional {
    
}

.additional__contacts {
    display: flex;
    
}


.additional__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 40px;
}

.additional__text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*   */

.additional__item {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}


/* */


.additional-phones {
    
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #eaeaea;
}

.additional-emails {
    padding-left: 24px;
    padding-right: 24px;
}

/*   */

.slider__wrap {
    display: flex;
    width: 100%;
}

.slider__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
    padding: 10px 10px;
}
.slider__item:first-child {
    padding-left: 0px;
}
.slider__item:last-child {
    padding-right: 0px;
}

.slider__img {
    width: 150px;
    padding-right: 10px;
}

.slider__text {
    display: flex;
    max-width: calc(100% - 160px);
}

.slider__text p {
    margin-bottom: 0px;
}


.map__btn {
    display: flex;
    margin-bottom: 25px;
}
.map__btn > p {
    margin-bottom: 0;
    padding: 6px 18px;
    border-bottom: 2px solid #eceef3;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #bdbdc8;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}

.map__btn > p:hover {
    color: #8c1100;
    border-bottom: 4px solid #8c1100;
}